td img {
    margin-right: 1.5rem;
}


  @media screen and (max-width:1000px) {
   .intro {
    max-width: 1280px;
    margin: 1em auto;
  }
  .table-scroll {
    position: relative;
    width:100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    // height: 350px;
  }
  .table-scroll table {
    width: 100%;
    min-width: 1280px;
    margin: auto;

  }

  .table-scroll thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  /* safari and ios need the tfoot itself to be position:sticky also */
  .table-scroll tfoot,
  .table-scroll tfoot th,
  .table-scroll tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index:4;
  }
  
th:first-child, td:first-child {
    width: 17%;
    max-width: min-content;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: #222222;
  }

  .name {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
  }
  tr.no-matches-row {
    text-align: left;
  }

}


  
  